#title-tab1{
    opacity: 0;
}

.event{
    padding-left: 10px;
}

.event-today{
    border-left: 3px solid #ff8100;
}
.event-future{
    border-left: 3px solid #2196f3;
}
.event-past{
    border-left: 3px solid #ff0000;
}