<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title id="title-tab3" #title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="logScrolling($event)" [scrollEvents]="true">
  <h1 class="ion-margin-horizontal ion-no-padding ion-no-margin">Settings</h1>
  <br/>
  <ion-list lines="full">
    <ion-item button (click)="logout()" detail="false">
      <ion-label>Log out</ion-label>
      <ion-icon slot="end" name="exit-outline"></ion-icon>
    </ion-item>
    <ion-item button detail="false">
      <ion-label>Change Password</ion-label>
      <ion-icon slot="end" name="key-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
